body {
    background-color: #d9cfc1;
}

#header {
    background-color: #BB7843;
    height: 210px;

}
h1{
    font-weight: bold;
}

#para1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
#para2 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin-top: 10px; */
}

#foot{
    background-color:#c6d673 ;
    height: 50px;
    margin-top: 100px;
}

#navbar {
    margin-top: 30px;
    
}
#slider {
    height: 30%;
    width: 30%
}
.title,
#title {
    background-color: #BB7843;
    height: 150px;
    font-size: 60px;
    text-align: center;
    line-height: 2.125;
    color: #faebd7
}

.description {
    background-color: #d9cfc1;
    height: 900px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    padding-top: 20px;
}

.slider-text {
    position: absolute;
    right: 0;
    bottom: 0
}

#slider .card-content {
    max-width: 50%;
}

#slider {
    overflow: hidden;
    display: inline-flex;
    height: 70%;
    width: 60%;
}

@media screen and (max-width: 1023px) {
    #slider .card-content {
        display: none;
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    top: 0;
}

p {
    font-size: 20px;
}

.item-slide img {
    max-width: 500px;
}


.caption-container {
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky+.content {
    padding-top: 102px;
}

.content {
    padding: 16px;
}
#link{
    color: antiquewhite;
}
#link :hover{
    color:black;
}